{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "WebApiDatabase": "Host=localhost,5432;Database=xxxxxx; uid=xxxxx; Password=xxxxxx; SearchPath=xxxxxx"
  },
  "Jwt": {
    "Key":      "xxxxxxxxxxxxxxxxxxxxxxxxx",
    "Issuer":   "xxxxxxxxxx",
    "Audience": "xxxxxxxxxx",
    "ExpireMinutes": 360
  },
  "AllowedHosts": "*"
}
